.cover__link {
  color: #FFF;
  display: flex;
  flex-direction: column;
  min-width: 1184px;
  min-height: 740px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.cover__link::before {
  content: " ";
  position: absolute;
  min-width: 1184px;
  min-height: 740px;
  z-index: 1;
  background-color: rgba(42, 44, 47, 1);
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-width: 1024px;
    min-height: 640px;
  }

  .cover__link::before {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    min-width: 100%;
    max-width: 768px;
    min-height: 480px;
  }

  .cover__link::before {
    min-width: 100%;
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-width: 320px;
    min-height: 200px;
  }

  .cover__link::before {
    min-width: 320px;
    min-height: 200px;
  }
}