.header__language {
  text-decoration: none;
  color: white;
  margin-left: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.header__language:hover {
  cursor: pointer;
  opacity: 0.3;
}

.header__language:focus {
  text-decoration: underline;
}