.place__website {
  grid-area: website;
  align-self: end;
  color: #AAA;
  margin: 0;
  max-width: 90%;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin-left: 16px;
    align-self: start;
    margin-top: 32px;
  }
}